*{
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    height:300px;
    width: 100%;
    text-align: center;
    justify-content:center;
     background-image:url("header.jpg");
    background-repeat: no-repeat;

}
body{
    margin: 0;
   
}
footer{

    width: 100%;
    text-align: center;
    justify-content: center;
    background-color:#2e5cb8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    background-color:#2e5cb8;

    width: 100%;
    display:flex;
    justify-content: center;

}

li {
    display: flex;
    flex-direction: row;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color:blue;
    
}
iframe{
    width: 100%;
    height: 600px;
    margin-bottom: 0;
}
ul{
align-items: center;
}
nav{
    top:0;
    height:100px;
    overflow: hidden;
    height: 100px;
    top: 0;
    width: 100%;
    height:325px;
    position: fixed;
}
img{
   height: 40px;
   
}



body{
    background-color:#ddd;
}
p{
   padding: 20px;
   border: 1px solid white;
   background-color: white;
   
   width:50%;
  text-align: center;
  
 
   padding-top: 20px;
   border-radius:30px;
   
        
}
.vedle{
    display: flex;
    flex-direction:row;
    column-gap:16px;
}
.obory{
     padding: 20px;
   border: 1px solid white;
   background-color: white;
  text-align: center;
   padding-top: 20px;
   border-radius:30px;
   padding-bottom:20px;
}

@media  (max-width:859px){
    div{
        width: 100%;
    }
    nav{
        flex-direction: row;
        text-align: center;
        display:flex;
        height:300px;
        background-image:url("header.jpg");
        
    }
        
    
    ul{
        flex-direction: column;
        background-color:#00000054;
    }
    footer{
        width: 100%;
    }
    p{
        width: 100%;
        
    }
    .vedle{
        display: flex;
        flex-direction: column;
        padding:0 30px;
        row-gap:16px;
    }
}


